{% include "nav.html" %}
{% block content %}
<div class="container">
<div class="">
    <div class="mr-sm-2 mb-2 col-sm-4" style="margin-left:200px;">
     <div class="panel panel-success">
     <div class="panel-heading"><h2 style="color:violet">Edit Movie Item</h2></div>
       <form action="{{url_for('editcategoryItem' ,categories_id=categories_id, categoryitem_id=categoryitem_id, item=editedcategoryItem)}}" method="POST">
  <div class="panel-body">
  <p>Name:</p>
  <input type="text" size="30" name="name" placeholder = '{{categoryitem.name}}'>
  <p>Likes:</p>
  <input type="text" size="30"  name="likes" placeholder = '{{categoryitem.likes}}'>
  <p>dislikes:</p>
  <input type="text" size="30"  name="dislikes" placeholder = '{{categoryitem.dislikes}}'>
  <p>views:</p>
  <input type="text" size="30"  name="views" placeholder = '{{categoryitem.views}}'>
  <p>img_url:</p>
  <input type="text" size="30"  name="img_url" placeholder = '{{categoryitem.img_url}}'>
  <!-- <p>Film genres:</p>
  <select name="categories_id">
    <option value="" selected="selected"></option>
   
    <option value=2 >Adventure Films</option>
    <option value=3 >Comedy Films</option>
    <option value=7 >Horror Films</option>
    <option value=8 >Musicals (Dance) Films</option>
  </select> -->
  </br></br></div>
  <div class="panel-footer">
  <input type="submit" class="btn btn-warning" value ="Update">
  <a href = "{{url_for('showcategoryitems',categories_id=categories_id, categoryitem_id=categoryitem_id)}}"><button type="button" class="btn btn-danger">Cancel</button></a>
  </br></br>
  </div>
</form>
</div>
</div>
{% endblock content %}

