{% include 'nav.html' %}
<div class="main">
{% block content %}
 <div class="">
  <h2>Edit  Category</h2>
  <form class="form-inline" action="{{ url_for('editCategory',category_id=category.id)}}" method="post">
    <div class="form-group">
      <label for="name"> Name:</label>
      <input type ='text' size='30' name='name' placeholder = '{{category.name }}'>
    </div>
    <button>Submit</button>
    <button><a href = '{{url_for('showCategories')}}'> Cancel </a></button>
  </form>
</div>
{% endblock content %}
